html {
    overflow-y: auto;
    overflow-x: auto;
}
body {
	padding-top: 40px;
	/*padding-bottom: 40px;*/
	background-color: #FBFBFB;
}
@media (min-height: 0px){
    .jumbotron {
        background: url('/resources/images/bg.jpg') no-repeat center;
        padding: 0px 0px !important;
        margin-bottom: 0px !important;
    }
}
@media (min-height: 550px){
    .jumbotron {
        height: 100%;
        background: url('/resources/images/bg.jpg') no-repeat center;
        padding: 0px 0px !important;
        margin-bottom: 0px !important;
    }
}
@media (min-width: 0px) {
    .form-box {
        margin-top:3%;
    }
}
@media (min-width: 768px) {
    .form-box {
        margin-top:5%;
    }
}
@media (min-width: 992px) {
    .form-box {
        margin-top:5%;
    }
}
@media (min-width: 1200px) {
    .form-box {
        margin-top:8%;
    }
}
@media (min-width: 1400px) {
    .form-box {
        margin-top:10%;
    }
}
@media (min-width: 1600px) {
    .form-box {
        margin-top:15%;
    }
}
.form-signup {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
	margin-bottom: 10px;
}
.form-signup .checkbox {
	font-weight: normal;
}
.form-signup .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signup .form-control:focus {
	z-index: 2;
}
.form-signup-margin {
	margin-bottom: 10px;
}
.form-signup .btn-group-register > div {
    padding: 5px 10px;
}
