html {
    overflow-y: auto !important;
    overflow-x: auto !important;
}
body {
	padding-top: 40px;
	/*padding-bottom: 40px;*/
	background-color: #FBFBFB;
}
@media (min-height: 0px){
    .jumbotron {
        background: url('/resources/images/bg.jpg') no-repeat center;
        padding: 0px 0px !important;
        margin-bottom: 0px !important;
    }
}
@media (min-height: 550px){
    .jumbotron {
        height: 100%;
        background: url('/resources/images/bg.jpg') no-repeat center;
        padding: 0px 0px !important;
        margin-bottom: 0px !important;
    }
}
@media (min-width: 0px) {
    .form-box {
        margin-top:5%;
    }
}
@media (min-width: 768px) {
    .form-box {
        margin-top:10%;
    }
}
@media (min-width: 992px) {
    .form-box {
        margin-top:20%;
    }
}
@media (min-width: 1600px) {
    .form-box {
        margin-top:30%;
    }
}
.form-signin {
	/*max-width: 350px;*/
	/*padding: 15px;*/
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[name="username"] {
	margin-bottom: 20px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[name="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin .register p {
    font-size: 12px;
}